[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
requests = "*"
arrow = "==0.13.2"
numpy = "*"
humanize = "*"

[requires]
python_version = "3.7"
